<!-- mysql://r21et6omr2ke244uzb77:pscale_pw_nqQhMCXc9ghfv5E2u69kcOXnx42fQam8GL6K1vMZYAp@aws.connect.psdb.cloud/enaire?sslaccept=strict --><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <style>
      h1 {
        color: green;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Create account</a></li>
      </ul>
    </nav>
    <h1>Create an account</h1>
    <form action="#" method="post">

      <label for="username">Username:</label>
      <input type="text" name="username" />
      
      <label for="password">Password:</label>
      <input type="password" name="password" />

      <label for="first_name">First name:</label>
      <input type="text" name="first_name" />

      <label for="surname">Surname:</label>
      <input type="text" name="surname" />

      <label for="ref_username">Referral username:</label>
      <input type="text" name="ref_username" />

      <label for="phone_no">Phone Number:</label>
      <input type="number" name="phone_no" />

      <label for="state">State:</label>
      <input type="text" name="state" />

      <label for="date_of_birth">Date of Birth:</label>
      <input type="text" name="date_of_birth" />

      <label for="local_govt">Local goverment:</label>
      <input type="text" name="local_govt" />

      <label for="gender">Gender:</label>
      <input type="text" name="gender" />

      <label for="next_of_kin">Next of Kin:</label>
      <input type="text" name="next_of_kin" />
      
      <button type="submit">Submit</button>
    </form>
  </body>
</html>